#main{
	background:#f5f5f5;
}
.main_warp{
	width: 1228px;
	margin: 0 auto;
}
.main_t{
	height: 40px;
	font-size: 12px;
}
.main_t a{
	display: inline-block;
	line-height: 40px;
	margin: 0 5px;
}
.main_t a:hover{
	color: #000000;
}
/*乱播图*/
.main_bottom{
	width: 1226px;
	height: 250px;
	overflow: hidden;
	position: relative;
}
.main_bottom ul>li>a{
	display: block;
	position: relative;
}
/*伦播图*/
			.banner {
				position: relative;
				width: 1228px;
				height: 250px;
				background: grey;
				overflow: hidden;
			}
			
			.img_list {
				position: absolute;
				width: 4904px;
				height: 250px;
	
			}
			#img_list li {
				float: left;
				width: 1226px;
			}
			
			.banner-nav-list {
				width: 120px;
				height: 20px;
				list-style: none;
				position: absolute;
				right: 45%;
				bottom: 20px;
			}
			.banner-nav-list li {
				bottom: 0;
				right: 520px;
				border-radius: 50%;
				background: #FFFFFF;
				float: left;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				cursor: pointer;
				text-align: center;
			}
			
			.banner-nav-list li.active {
				background: yellow;
			}
/*自助服务*/
.serve{
	margin: 0 auto;
	position: relative;
}
.serve h2{
	height: 105px;
	text-align: center;
	line-height: 105px;
	font-size: 28px;
	color: #3C3C3C;
	margin-top: 30px;
}
.serve ul{
	margin: 0 auto;
	height: 590px;
	width: 1240px;
	position: relative;
}
.serve ul li {
	float: left;
	width: 296px;
	height: 277px;
	margin: 0 14px 18px 0;
	background: #FFFFFF;
	position: relative;
	transition:all .50s ease-in-out;
	/*-webkit-transform:translate(30px,50px);*/
}
.serve ul li:hover{
	transform: translate(0,-10px);
}
.serve ul li a{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	position: absolute;
}
.serve ul li a img{
	margin-top: 80px;
}
.serve ul li a h3{
	color:#000000;
	font-size: 18px;
	font-weight: 900;
	line-height: 46px;
}
/*产品支持*/
.support{
	position: relative;
	margin: 0 auto;
}
.support h2{
	height: 105px;
	text-align: center;
	line-height: 105px;
	font-size: 28px;
	color: #3C3C3C;
	margin-top: 30px;
}
.support ul{
	margin: 0 auto;
	height: 590px;
	width: 1240px;
	position: relative;
}
.support ul li {
	float: left;
	width: 296px;
	height: 277px;
	margin: 0 14px 18px 0;
	background: #FFFFFF;
	transition:all .50s ease-in-out;
}
.support ul li:hover{
	transform: translate(0,-10px);
}
.support ul li a{
	height: 100%;
	width: 100%;
	display: block;
	text-align: center;
}	
.support ul li a img{
	margin-top: 30px;
}	
.support ul li a span{
	line-height: 28px;
	display: block;
}
/*服务中心*/	
.service_center{
	width: 1228px;
	margin: 0 auto;
	height: 465px;
}
.service_center h2{
	height: 105px;
	text-align: center;
	line-height: 105px;
	font-size: 28px;
	color: #3C3C3C;
	margin-top: 30px;
}
.service_center .service_center_left{
	float: left;
	width: 50%;
}
.service_center .service_center_left img{
	width: 614px;
	height: 360px;
}
.service_center .service_center_right{
	float: right;
	width: 50%;
	text-align: center;
}
.service_center_right p{
	font-size: 20px;
	margin: 64px auto 15px;
}
.service_center_right span{
	display: block;
	font-size: 16;
	color: #3C3C3C;
	line-height: 30px;
}
.service_center_right .service_center_icon{
	width: 500px;
	margin: 24px auto 10px;
	opacity: 0.5;
	height: 100px;
}
.service_center_icon dl{
	float: left;
	width: 100px;
}
.service_center_right .inquire{
	margin-top: 20px;
	font-size: 16px;
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
/*联系客服*/
.relation{
	width: 1228px;
	margin: 0 auto;
}
.relation h2{
	display: block;
	height: 105px;
	text-align: center;
	line-height: 105px;
	font-size: 28px;
	color: #3C3C3C;
	margin-top: 30px;
}
.relation_ul ul{
	position: relative;
	width: 100%;
	height: 587px;
}
.relation_ul ul li{
	float: left;
	width: 395px;
	height: 277px;
	margin: 0 14px 17px 0;
	overflow: hidden;
	background: #FFFFFF;
	position: relative;
	transition:all .50s ease-in-out;
}
.relation_ul ul li:hover{
	transform: translate(0,-10px);
}
.relation_ul ul li a{
	display: inline-block;
	position: absolute;
	width: 100%;
	text-align: center;
	height: 100%;
}
.relation_ul ul li a .p1 .s1{
	top: 125px;
}
.relation_ul ul li a .p1{
	margin-top: 117px;
	padding-right:125px;
}
.relation_ul ul li a .p1 span{
	position: absolute;
	display: inline-block;
	line-height: 100%;
	font-size: 18px;
	margin-left: 14px;
	line-height: 25px;
}
.relation_ul ul li a .p2{
	font-size: 14px;
	margin-top: 80px;
	display: inline-block;
}
/*常见问题*/
.issue{
	width: 1228px;
	height: 460px;
}
.issue h2{
	display: block;
	height: 105px;
	text-align: center;
	line-height: 105px;
	font-size: 28px;
	color: #3C3C3C;
	margin-top: 30px;
}
.login{
	width: 658px;
	margin: 0 auto;
	position: relative;
}
.login .tet{
	width: 606px;
	height: 48px;
	font-size: 20px;
	color: rgba(0,0,0,0.5);
	font-size: 14px;
}
.login .sub{
	width: 52px;
	height: 48px;
	float: right;
	background: #FFFFFF;
	border: 0;
}
.login .btn{
	background: url(../images/jing.png) no-repeat -65px -24px;
	position: absolute;
	width: 19px;
	height: 18px;
	top: 15px;
	right: 17px;
}
.control{
	width: 1228px;
	margin-top: 50px;
}
.control_header ul{
	height: 66px;
	
}
.hover{
	background: #0000FF;
	color: #FFFFFF;
}
.control .control_header li{
	float: left;
	width:175px;
	height: 66px;
	line-height: 66px;
	text-align: center;
}
.control_warp{
	float: left;
	display: none;
	margin-left: 80px;
}
.control_warp li{
	float: left;
	width: 44%;
	line-height: 40px;
	text-align: left;
}
.control_warp li a{
	width: 87%;
	font-size: 20px;
}
.control_warp li a:hover{
	color: #002BFF;
}
/*页尾*/

